@model RecipesShare.Data.Models.ApplicationUser





<section style="background-size: cover" class="info">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="@Model.ImageUrl" alt="profile picture" height="138" width="138" style="margin-left: 50px">

                    <a href="https://passport.abv.bg/app/profiles/details/basicinfo/get" class="mt-3" style="margin-left: 65px;">Change picture</a>

                    <section class="mt-3" style="margin-left: 25px">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="font-size: small">Name: @Model.FirstName @Model.LastName</li>
                            <li class="list-group-item" style="font-size: small">Sex: @Model.Sex</li>
                            <li class="list-group-item" style="font-size: small">Country: @Model.Country</li>
                            <li class="list-group-item" style="font-size: small">Location: @Model.Location</li>
                        </ul>
                    </section>

                    <div class="card-body" style="margin-left: 25px">
                        <a href="ChangeInfo" class="card-link">Edit Profile</a>
                        <a href="#" class="card-link">Change Password</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card" style="margin-right: 40px">
                    <div class="card-body">
                        <h5 class="card-title">About Me</h5>
                        <p class="card-text">@Model.AboutMe</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

